.betaAccessPage{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  >h1{
    font-size: 40px;
    line-height: 1.2;
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  form{
    display: flex;
    flex-direction: column;
    >.MuiTextField-root{
      margin-bottom: 10px;
    }
  }
}